<div class="containers color-dark">

   <div class="col">
    <h2>skills items</h2>
  </div>
</div>

<div class="double-box-container container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="skills" placeholder="add skills" [(ngModel)]="mySkills.skills"><br>
      
      <input type="submit" class="btn btn-green" value="{{ btnTxt }}" (click)="AgregarJob()">
    </form>
  </div>
  <div class="list-box">
    <p class="life-container" *ngFor="let job of skills;">
      <input type="submit" class="btn btn-green" value="update" (click)='updateSkill(job.id)'>
    <input type="submit" class="btn btn-delete" value="delete" (click)='deleteJob(job.id)'>
    <span class = "job-text">  {{ job.skills }} </span>
    </p>
  </div>
</div>

