<div class="containers color-dark">

   <div class="col">
    <h2>languages items</h2>
  </div>
</div>

<div class="double-box-container container color-light">
  <div class="col">
    <form (ngSubmit)="AgregarJob()">
      <input type="text" class="txt" name="languages" placeholder="add language" [(ngModel)]="myLanguages.name"><br>
      <input type="text" class="txt" name="level" placeholder="add level" [(ngModel)]="myLanguages.level"><br>

      <input type="submit" class="btn btn-green" [value]=" btnTxt ">
    </form>
  </div>
  <div class="list-box">
    <p class="life-container" *ngFor="let job of languages;">
      <input type="submit" class="btn btn-green" value="update" (click)='editJob(job)'>
    <input type="submit" class="btn btn-delete" value="delete" (click)='deleteJob(job.id)'>
    <span class = "job-text">  {{ job.name }} - {{ job.level  }} </span>
    </p>
  </div>
</div>
